@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007');
*{
    font-family: 'satoshi';
}
body{
    background-color: #030303;
    margin: 0;
}
.grid-container{
    height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    width: 450px;
    height: 550px;
    background-color: #101010;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.num-div{
    display: grid;
    height: 60%;
    place-items: center;
    background-color: #101010;
    padding: 25px;
    border-radius: 25px 25px 0px 0px;
    color: white;
}
.buttons-div{
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.buttons-div > div{
    width: 100px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}
#num{
    font-size: 132px;
}
@media only screen and (max-width: 480px) {
    .container {
      width: 75%;
      height: 475px;
    }
    #num{
        font-size: 106px;
    }
    .buttons-div > div{
        width: 85px;
        height: 40px;
    }
  }
